
@{
    ViewData["Title"] = "Busca";
}

@model Aniversariantes


<h1>Resultado da Busca</h1>


<ul>
    <li> Nome: @Model.nome @Model.sobrenome</li>
    <li> Data de Nascimento: @Model.DataNascimento</li>
</ul>





<style>
    h1{
        text-align:center;
    }
    ul{
        border:1px solid black;
        width:400px;
        margin:0 auto;
    }

</style>

